<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Location:</strong>
  <%= @job.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @job.active %>
</p>

<p>
  <strong>Applypath:</strong>
  <%= @job.applypath %>
</p>

<p>
  <strong>Requirements:</strong>
  <%= @job.requirements %>
</p>

<p>
  <strong>Worktype:</strong>
  <%= @job.worktype %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @job.salary %>
</p>

Geolocate:
<p> 
  <%= @job.latitude %>
  <%= @job.longitude %>
</p>

<%= link_to 'Apply Now', new_application_path(@job) %>
<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
